Add QUIT support on session rejection

Acutally on session initiation rejection (banner response 554 not 220) SMTPTransport abruptly closes the connection.

RFC5321 ([RFC 5321 Section 3.1](https://tools.ietf.org/html/rfc5321#section-3.1)) states that:

> The SMTP protocol allows a server to formally reject a mail session
> while still allowing the initial connection as follows: a 554
> response MAY be given in the initial connection opening message
> instead of the 220. A server taking this approach MUST still wait
> for the client to send a QUIT (see Section 4.1.1.10) before closing
> the connection and SHOULD respond to any intervening commands with
> "503 bad sequence of commands".
> The same RFC doesn't tell how client should react to session rejection so closing the connection is totally valid.

Pratically speaking I've encountered SMTP servers not behaving totally well to such conduct. To accomodate such servers I've added a new property `mail.smtp.quitonsessionreject` to send a `QUIT` command after session rejection, defaulting to `false` to keep old known behaviour.

Ref PR #294

This is my first contribution to JavaMail, I will sign & submit the OCA tomorrow